# Ignore any files or directories any level, including the context root,
# named migrations

# clean build
*/migrations

# no compiled python
*/__pycache__
*/*.pyc
*/*.bak

*/unused/*

old_examples
test

documentation

docker-image
docker-sandbox-image/test-executor

lib-src


.git
