.gitattributes export-ignore
*.swp export-ignore
*.swo export-ignore
*.pyc export-ignore
*.pyo export-ignore
.installed.cfg export-ignore
.settings export-ignore
develop-eggs export-ignore
dist export-ignore
downloads export-ignore
eggs export-ignore
parts export-ignore
src/*.egg-info export-ignore
build export-ignore
.tmp_* export-ignore
.project export-ignore
.pydevproject export-ignore
.DS_Store export-ignore
.gitmodules export-ignore
*.sh text eol=lf
*.conf text eol=lf
src/checker/scripts/* text eol=lf
