
chardet==5.0.0
Django==2.2.28
# django-extensions==3.1.5
# eventlet 0.31 is not compatible with gunicorn 20.1.0
eventlet==0.30.2
gunicorn==20.1.0
lxml==4.9.1

# for getting shared objects for sandbox
lddcollect==0.2.0


psycopg2-binary==2.9.3

# Pygments is used for highlighting in 'Isabelle'
# Pygments==2.11.2

# for python unittests
unittest-xml-reporting==3.2.0

matplotlib==3.5.2
numpy==1.23.1
packaging==21.3
Pillow==9.3.0
pyparsing==3.0.9
cycler==0.11.0
python-dateutil==2.8.2
kiwisolver==1.4.4
mpl-toolkits.clifford==0.0.3



# workaround for debug-toolbar/sqlparse incompatibility, see http://stackoverflow.com/questions/38479063/django-debug-toolbar-breaking-on-admin-while-getting-sql-stats

# It appears that due to the pull-request https://github.com/aljosa/django-tinymce/pull/103 merged in django-tinymce==2.4.0, jquery is loaded after our onw jquery
# loaded in admin-sites. Using an old version of django-tinymce (2.3.x) is not possible because it uses methods removed between Django 1.8 and 1.11.
# We might want to use the django-admin provieded jquery in our admin-site jquery snippets?!?!?

## modules automatically installed

# dbus-python==1.2.16
elementpath==3.0.2
greenlet==2.0.1
pytz==2022.6
setuptools==65.5.1
six==1.16.0
sqlparse==0.4.2
wheel==0.37.1
xmlschema==2.1.1


# dnspython==1.16.0
