
Django==4.2.23
gevent==25.5.1
gunicorn==23.0.0
chardet==5.2.0

lxml==6.0.0
xmlschema==4.1.0


# Postgres database access
psycopg2-binary==2.9.10

# for python unittests
docker==7.1.0



pyclean

# => pip list:
#
# Package            Version
# ------------------ --------
# asgiref            3.9.1
# certifi            2025.7.9
# chardet            5.2.0
# charset-normalizer 3.4.2
# Django             4.2.23
# docker             7.1.0
# elementpath        5.0.3
# gevent             25.5.1
# greenlet           3.2.3
# gunicorn           23.0.0
# idna               3.10
# lxml               6.0.0
# packaging          25.0
# pip                25.1.1
# psycopg2-binary    2.9.10
# pyclean            3.1.0
# requests           2.32.4
# setuptools         65.5.1
# sqlparse           0.5.3
# urllib3            2.5.0
# wheel              0.45.1
# xmlschema          4.1.0
# zope.event         5.1
# zope.interface     7.2

